.video   {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: -50px;
  z-index: 2;
}

.video__iframes{
  margin: 0;
  padding-top: 50px;
  display: flex;
  column-gap: 20px;
}

.video__iframe {
  width: 536px;
  height: 316px;
  border: none;
}
