.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  margin: 0 auto;
  left: 64px;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  z-index: 2;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  line-height: 96px;
  position: absolute;
  margin: 0;
  left: 64px;
  top: 30px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  position: absolute;
  margin: auto;
  right: 0px;
  top: 64px;
  transform: rotate(45deg);
  animation: rotation 20s linear infinite;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  margin: auto;
  right: 0px;
  bottom: 0;
  z-index: 1;
}

.reader__link {
  color: #2F80ED;
}

.reader__link:hover {
  opacity: 0.5;
  transition: .3s linear;
}
