.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  line-height: 96px;
  position: absolute;
  margin: 0;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  margin: 0 auto;
  left: 64px;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.reader__link {
  color: #2F80ED;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  margin: auto;
  right: 0px;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2F80ED;
  position: absolute;
  margin: auto;
  right: 0px;
  top: 64px
}

/* comando geral */
.description {
margin: 0px;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
position: relative;
}

/* div com o h2 e paragrafos */
.two-columns {
  width: 80%;
  margin: 0px;
  display: flex;
  justify-content: space-between
}

/* h2 */
.two--columns__brief {
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  text-align: justify;
  color: #2F80ED;
}

/* div com os paragrafos */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
/* parágrafos */
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}

.paragraph-edition {
  padding-bottom: 30px;
}
/* span dentro do segundo paragrafo*/
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* cabeça do bloco */
.digits {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding-bottom: 100px;
}

/* h2 */
.section-title {
  width: 60%;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

/* h3 */
.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  text-align: center;
}

/* bloco das celulas */
.table {
  width: 1100px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0px;
  padding-top: 60px;

}

/* célula */
.table__cell {
  width: 250px;
  list-style: none;
  margin: 0px;
}

/* cabeça da célula */
.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

/* texto da célula */
.table__text {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  padding-top: 20px;
}

.feynman {
  height: 790px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.feynman__title {
  width: 775px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  margin: 0px;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 70px;

}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  position: absolute;
  right: 48px;
  bottom: 50%;

  }

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.kaufman {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1F1F1F;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
  color: white;
  width: 60%;
  margin: 0px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  width: 60%;
  margin: 0px;
  padding-top: 20px;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0px;
  padding-top: 80px;
  padding-left: 0px;
  text-align: left;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 0px;
  list-style: none;

}

.table__heading_theme_dark {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding-bottom: 20px;

}

.table__text_theme_dark {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0px;
}

.kaufman__image {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0px;
}

/* total do footer */
.footer {
min-height: 350px;
background-color: #1F1F1F;
display: flex;
position: relative;
justify-content: space-evenly;


}

/* todos os blocos do footer */
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* bloco logo */
.footer__column_content_copyright {
  flex-basis: 711px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}

/* bloco sobre */
.footer__column_content_about {
  list-style: none;
  position: relative;
}

/* bloco mídia */
.footer__column_content_social {
  margin: 0px;
}

/* logo */
.logo_place_footer {
  width: 183px;
  height: 35px;
  margin: 0px;
}

/* copyright */
.footer__autor {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0px;
  position: absolute;
  bottom: 18px;
}

/* titulos colunas 3 e 4 */
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding-bottom: 20px;
}

/* palavras links */
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* listas das colunas 3 e 4 */
.footer__list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

/* icones mídia social */
.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
